<div class="container-fluid ">

  <!-- Section 1 -->
  <div class="row wave-container">
    <div class="col-lg-6 col-md-6 col-sm-12 px-5 my-5">
      <p class=" fw-bold my-4 d-block" style="font-size: 4rem !important;"> عزز سير أعمالك عن طريق الخدمات الجاهزة </p>
      <br>
      <p class="text-secondary fs-4">لبي احتياجات عملك بسرعة و احترافية مع خدماتك, تصفح و اشتري خدمات جاهزة خلال دقائق
      </p>
      <div class="mt-5 mb-5 position-relative">
        <form class="d-flex">
          <input class="w-100 form-control" type="text" placeholder="جرب تصميم ثلاثي الأبعاد"/>
          <button class="rounded-3 btn btn-primary me-1">بحث</button>
        </form>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 px-5 d-flex justify-content-center ">
      <img src="assets/home/working-remotely.svg" alt="Description" class="img-fluid">
    </div>
  </div>

  <!-- Section 2 -->
  <div class="m-5 p-5 shadow rounded-4 row d-flex justify-content-center align-items-center bg-white">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2 d-flex justify-content-center">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/أنشئ حسابك.svg" class="card-img-top image-box p-3 m-auto" alt="..." width="60px" height="60px">
        <div class="card-body">
          <h5 class="card-title fs-2 fw-bold text-center">أنشئ حسابك</h5>
          <p class="card-text px-3 text-center fs-5 text-muted">          بحسابك الشخصي، تستطيع متابعة مشترياتك والوصول إلى خدمات أسرع.</p>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-6 col-sm-12 mb-2 d-flex justify-content-center">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/ابحث عن خدمة.svg" class="card-img-top image-box p-3 m-auto" alt="..." width="60px" height="60px">
        <div class="card-body">
          <h5 class="card-title fs-2 fw-bold text-center">
            ابحث عن خدمة
          </h5>
          <p class="card-text px-3 text-center fs-5 text-muted">
            استفد من شبكة تضم أكثر
            من 7000 من المستقلين المحترفين
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-2 d-flex justify-content-center">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/أطلب خدمة.svg" class="card-img-top image-box p-3 m-auto" alt="..." width="60px" height="60px">
        <div class="card-body">
          <h5 class="card-title fs-2 fw-bold text-center">
            اطلب الخدمة
          </h5>
          <p class="card-text px-3 text-center fs-5 text-muted">
            تعاقد مع المستقلين
            المحترفين بسلاسة خلال عدة دقائق
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 3 -->
  <div class="m-5 pt-5">
    <h1 class="mt-5 pt-5 fw-bold text-center">
      اكتشف<span style="color: rgb(30,136,229);">
        التصنيفات</span> لتطوير أعمالك
    </h1>

    <div class="row mt-5">
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/برمجة و تطوير.svg" alt="برمجة و تطوير" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">برمجة و تطوير</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/ذكاء صنعي.svg" alt="ذكاء صنعي" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">ذكاء صنعي</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/فيديو و أنيميشن.svg" alt="فيديو و أنيميشن" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">فيديو و أنيميشن</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/تصميم.svg" alt="تصميم" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">تصميم</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/هندسة و عمارة.svg" alt="هندسة و عمارة" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">هندسة و عمارة</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/أعمال.svg" alt="أعمال" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">أعمال</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/تعليم عن بعد.svg" alt="تعليم عن بعد" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">تعليم عن بعد</div>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5 col-lg-3 col-md-4 col-sm-6">
        <div class="category-container">
          <a href="">
            <img src="../../assets/home/كتابة و ترجمة.svg" alt="كتابة و ترجمة" class="img-fluid">
            <div class="d-flex justify-content-center align-items-center fw-bold fs-2 overlay">كتابة و ترجمة</div>
          </a>
        </div>
      </div>
    </div>

    <p class="text-center mt-5 pb-5">
      <a pButton class="p-3 mt-5 rounded-3 text-white text-decoration-none fw-bold" href="">تصنيفات أكثر</a>
    </p>
  </div>

  <!-- Section 4 -->
  <div class="m-5 pt-3 flex justify-content-center">
    <h1 class="mt-5 pt-5 text-center">
      لماذا<span style="color: rgb(30,136,229);">
        خدماتك</span> خيارك الأفضل ؟
    </h1>
  </div>
  <div class="mt-5 pt-5 row mb-5 bg-white">
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/ضمان الحقوق.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            ضمان الحقوق
          </p>
          <p class="card-text text-center fs-5 text-muted">
            تتضمن شركة خدماتك حقوقك المالية واستلام العمل كاملاً كما قدمه البائع
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/مستقلون محترفون.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            مستقلون محترفون
          </p>
          <p class="card-text text-center fs-5 text-muted">
            ملفات شخصية تبرز خدمات البائعين وتقييماتهم السابقة
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/أسعار اقتصادية.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            أسعار اقتصادية
          </p>
          <p class="card-text text-center fs-5 text-muted">
            خدمات عالية الجودة وبأسعار
            تنافسية
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/أكثر من 100 تصنيف.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            أكثر من 100 تصنيف
          </p>
          <p class="card-text text-center fs-5 text-muted">
            +100 تصنيف يشمل آلاف الخدمات في كافة المجالات
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/معاملات آمنة وموثوقة.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            معاملات امنة و موثوقة
          </p>
          <p class="card-text text-center fs-5 text-muted">
            يقوم مقدمو الخدمة بتوثيق هوياتهم لإجراء معاملات آمنة وحقيقية
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-2 p-0">
      <div class="card border-0" style="width: 18rem;">
        <img src="../../assets/home/خدمة العملاء في كل وقت.svg" class="card-img-top p-3 m-auto w-auto" alt="..." >
        <div class="card-body">
          <p class="card-title fs-2 text-dark text-center">
            خدمة العملاء في كل وقت
          </p>
          <p class="card-text text-center fs-5 text-muted">
            فريق محترف للرد على الاستفسارات وحل المشكلات في أسرع وقت ممكن
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
